* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

.is-gsap-hidden {
  visibility: hidden;
}

.pin-spacer {
  min-height: 100vh !important;
}

.home-projects_project {
  grid-area: 1 / 1 / 2 / 2;
}

#highlighted-text span {
  will-change: opacity, transform;
}

@media (min-width: 991px) {
  .home-projects_banner-component .heading-style-h3,
  .home-projects_banner-component .text-size-regular {
    white-space: normal;
    overflow: hidden;
    display: block;
    word-wrap: break-word;
    max-width: 100%;
    max-height: 4rem;
  }
}

@media (max-width: 991px) {
  .home-projects_banner-component .heading-style-h3,
  .home-projects_banner-component .text-size-regular {
    white-space: normal;
    overflow: hidden;
    display: block;
    word-wrap: break-word;
    max-width: 100%;
    max-height: 6rem;
  }
}

.inherit-color * {
  color: inherit;
}

*[tabindex]:focus-visible,
input[type="file"]:focus-visible {
  outline: 0.125rem solid #4d65ff;
  outline-offset: 0.125rem;
}

.w-richtext > :not(div):first-child,
.w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}

.w-richtext > :last-child,
.w-richtext ol li:last-child,
.w-richtext ul li:last-child {
  margin-bottom: 0 !important;
}

.pointer-events-off {
  pointer-events: none;
}

.pointer-events-on {
  pointer-events: auto;
}

.div-square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.container-medium,
.container-small,
.container-large {
  margin-right: auto !important;
  margin-left: auto !important;
}

.text-style-3lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.text-style-2lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.display-inlineflex {
  display: inline-flex;
}

.hide {
  display: none !important;
}

@media screen and (max-width: 991px) {
  .hide,
  .hide-tablet {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .hide-mobile-landscape {
    display: none !important;
  }
}

@media screen and (max-width: 479px) {
  .hide-mobile {
    display: none !important;
  }
}

.margin-0 {
  margin: 0rem !important;
}

.padding-0 {
  padding: 0rem !important;
}

.spacing-clean {
  padding: 0rem !important;
  margin: 0rem !important;
}

.margin-top {
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-top {
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-right {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-right {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-bottom {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-bottom {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.margin-left {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-left {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-horizontal {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-horizontal {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-vertical {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-vertical {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.truncate-width {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-scrollbar {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1440px) {
  html {
    font-size: 1vw;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 0.9vw;
  }
}

.navbar_h-menu-bg {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 4% 100%, 4% 85%, 0 82%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 4% 100%, 4% 85%, 0 82%, 0 0);
}

.home-header_video-w {
  -webkit-clip-path: polygon(99% 0, 99% 6%, 100% 7%, 100% 100%, 6% 100%, 0 94%, 0 0);
  clip-path: polygon(99% 0, 99% 6%, 100% 7%, 100% 100%, 6% 100%, 0 94%, 0 0);
}

.cta_video-w {
  -webkit-clip-path: polygon(98.5% 0, 98.5% 6%, 100% 7%, 100% 100%, 10% 100%, 0 90%, 0 0);
  clip-path: polygon(98.5% 0, 98.5% 6%, 100% 7%, 100% 100%, 10% 100%, 0 90%, 0 0);
}

@media (max-width: 1279px) {
  #awwwards {
    display: none !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-brockmann), Tahoma, sans-serif;
  font-feature-settings: "ss01" on;
}
